
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.home_page{
    background-color: #E5E5E5;
    height:100%;
}
.for_center_home{
    width: 70%;
    margin:auto;
    background-color: white;
}
.header{
    
    background-color: white;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    margin: auto;
}
.doc_div{
    padding: 40px;
}
.docimage{
    height: 75px;
    width: 75px;
    min-height: 75px;
    min-width: 75px;
    background-size: cover;
    background-position: center;
    max-height: 75px;
    max-width: 75px;
    
}

.viewprofile{
    border: 1px solid #0176c4;
    border-radius: 5px;
    background: #fff;
    color: #0176c4;
    font-weight: 1000;
    font-size: 13px;
    width: 100px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    
    
}
.viewprofile:hover{
    text-decoration: underline;
}

.doc_name{
    font-size: 14px;
    font-family: Poppins, sans-serif;
    margin: auto;
    
}
.doc_type{
    font-size: 12px;
    font-family: Poppins, sans-serif;
    margin-bottom: 8px;
    
}
.info_div{
    display:flex;
    align-items: center;
}

/* book appointments */

.book_appointment{
    display: flex;
    padding:0px 40px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}
.cards_box{
    display: flex;
}
.cards_box img{
    width: 85px;
    height: 85px;
    padding-left: 20px;
}

.heading1{
    font-size: 16px;
    font-family: Poppins, sans-serif;
   margin:auto;
   line-height: 25px;

}
.heading2{
    font-size: 14px;
    color: #948e8e;
    font-family: Poppins, sans-serif;
    margin:auto;
    line-height: 25px;

}
.heading3{
    font-size: 12px;
   font-family: Poppins, sans-serif;
   color: #64bc6e;
   font-weight: 600;
   margin:auto;
   line-height: 25px;

}
.heading4{
    font-size: 12px;
   font-family: Poppins, sans-serif;
   color: #715ac4;
   font-weight: 600;
   margin:auto;
   line-height: 25px;
}


.clinic{
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    margin: auto;
  
    margin-top: 20px;
    margin-bottom: 24px;
    padding:0px 40px;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: #64bc6e;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
   
    
}
.white-circle{
    height: 10px;
    width: 10px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.text-circle{
    margin: auto;
    padding: 0px 70px;
    display: flex;
   
}
.content{
    margin-left: 30px;
    font-family:Poppins, sans-serif;
    font-size: 14px;
    font-weight: bolder;
}

.swiper_class{
    padding: 64px 0px;
}